@model List<UserIndexViewModel>
@{

}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card  card-tasks">
                <div class="card-header ">
                    <h5 class="card-category">User</h5>

                </div>

                <div class="card-body ">
                    <div class="col-md-12">
                        <div class=" form-group">
                            <a class="btn btn-sm btn-info" asp-area="User" asp-controller="User" asp-action="Create"><i class="fa fa-plus"></i> Add</a>
                        </div>
                        <div class="table-responsive">
                            <table id="userTable" class="  table-bordered ">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Name</th>
                                        <th>UserName</th>
                                        <th>EmailAddress</th>
                                        <th>MobileNumber</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td hidden> @item.Id</td>
                                            <td> @item.SNo</td>
                                            <td> @item.Name</td>
                                            <td> @item.UserName</td>
                                            <td> @item.EmailAddress</td>
                                            <td> @item.MobileNumber</td>
                                            <td> @item.Status</td>
                                            <td>
                                                <a class=" btn btn-info btn-sm">Edit</a>
                                                <a asp-action="AssignRole" asp-route-userId="@item.Id" class=" btn btn-secondary btn-sm">Assign Role</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">

                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
  
    <script>
        $('#userTable').dataTable({
        });
    </script>
}
