@model LoginViewModel
@{
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" asp-append-version="true">
<div id="login">

    <h3 class="text-center text-white">Login form</h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center ">
            @Html.ValidationSummary();
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form class="form" action="Login" method="post">
                        <h3 class="text-center text-info">Login</h3>
                        <div class="form-group">
                            <label for="username" class="text-info">Username:</label><br>
                            <input type="text" asp-for="UserName" class="form-control">
                            <span asp-validation-for="UserName" class=" text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Password:</label><br>
                            <input type="password" asp-for="Password" class="form-control">
                            <span asp-validation-for="Password" class=" text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Remember me:</label><br>
                            <input type="checkbox" asp-for="RememberMe" class="checkbox">
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                        </div>
                        <input type="text" hidden asp-for="ReturnUrl" />
                        <div id="register-link" class="text-right">
                            <a asp-area="" asp-controller="UserRegistration" asp-action="Register" class="text-info">Register here</a>
                        </div>
                    </form>
                </div>
            </div>

            <div id="login-column" class="col-md-3">
                <div id="login-box" class="col-md-12">
                    <h4>Also Login With</h4>
                    <form method="post" asp-action="ExternalLogin" asp-route-ReturnUrl="@Model.ReturnUrl">
                        @if (Model.ExternalProviders.Any())
                        {
                            foreach (var provider in Model.ExternalProviders)
                            {
                                <div class="form-group">
                                    <button type="submit" value="@provider.Name" class="btn btn-success" title="Login with @provider.DisplayName" name="provider"><i class="fa-brands fa-google"></i>@provider.Name</button>
                                </div>
                            }
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
<script src="~/assets/js/core/popper.min.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
@await Component.InvokeAsync("NToastNotify")

<style>
    #login .container #login-row #login-column #login-box {
        margin-top: 100px;
        max-width: 600px;
        height: 320px;
        border: 1px solid #9C9C9C;
        box-shadow: 1px 1px 1px 1px gray;
        background-color: #EAEAEA;
    }

        #login .container #login-row #login-column #login-box #login-form {
            padding: 5px;
        }

            #login .container #login-row #login-column #login-box #login-form #register-link {
                margin-top: -85px;
            }
</style>