@model List<AuthenticationAndAuthorization.Areas.User.ViewModel.RoleIndexViewModel>
@{

}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card  card-tasks">
                <div class="card-header ">
                    <h5 class="card-category">Role</h5>

                </div>

                <div class="card-body ">
                    <div class="col-md-12">
                        <div class=" form-group">
                            <a class="btn btn-sm btn-info" asp-area="User" asp-controller="Role" asp-action="Create"><i class="fa fa-plus"></i> Add</a>
                        </div>
                       
                        <table id="roleTable" class=" table table-resposive ">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Name</th>

                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td hidden> @item.Id</td>
                                        <td > @item.Sno</td>
                                        <td> @item.Name</td>
                                        <td>
                                            <a class=" btn btn-primary btn-sm">Edit</a>
                                            <a class=" btn btn-warning btn-sm"target="_blank" asp-area="User" asp-controller="Role" asp-action="AssignUser" asp-route-roleId="@item.Id">Assign User</a>
                                            <a class=" btn btn-info btn-sm"target="_blank" asp-area="User" asp-controller="Role" asp-action="AssignPermission" asp-route-roleId="@item.Id">Assign Permission</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer ">

                </div>
            </div>
        </div>
    </div>
</div>
